<h1> Login </h1> <br>

<%= form_for :user, url: '/user/login' do |f| %>
    
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :password %>
    <%= f.text_field :password %>
    <br>
    
    <%= f.submit "Login" %> <%= link_to "Home Page", root_path %>
<% end %>
<br>
<%= link_to "Admins Login", admin_login_path %>
<br>
<h1> Or login in with Facebook</h1> <br>
<%= link_to('Log in with Facebook!', '/auth/facebook') %> Needs to update security settings... <br>

<h1> Github? </h1> <br>
<%= link_to 'Log in with GitHub!', '/auth/github'%>
<h5> *If the username/email is already associated with another account or the github account doesn't 
have an email associated you will be asked to provide a new one.* </h5> 
