<h1> Login </h1> <br>

<%= form_for :user, url: '/users/login' do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :password %>
    <%= f.text_field :password %>
    <br>
    
    <%= f.submit "Login" %>
<% end %>
<br>
<h1> Or login in with Facebook</h1> <br>
<%= link_to('Log in with Facebook!', '/auth/facebook') %> Needs to update security settings... <br>

<h1> Github? </h1> <br>
<%= link_to 'Log in with GitHub!', '/auth/github'%>