<%= current_user.name %> <br>
<%= link_to "Home Page", root_path %>
<%= link_to "Log Out", logout_path %> <br> 

<%= link_to "View all public decks", decks_path %> <br>
<%= link_to "View all tournaments", tournaments_path %> <br>
<%= link_to "Make a new deck?", new_deck_path %> <br>
 
<br>

<h3> Your Decks </h3>

<table style="width:100%">
    <tr>
        <td> <h4> Deck Title </h4> </td>
        <td> <h4> Deck Description </h4> </td> 
        <td> <h4> Created By </h4> </td>
        <td> <h4> Can Be Seen By </h4> </td>
        <td> <h4> Deck Link </h4> </td>
    </tr>

        <% current_user.decks.each do |deck| %>
            <tr>
                <td> <%= deck.title %> </td>
                <td> <%= deck.description %> </td>
                <td> <%= deck.player_name %> </td>
                <% if deck.tournament_id == 1 %>
                    <% if deck.shared == true %>
                        <td> Everyone </td>
                    <% else %>
                        <td> Only You </td>
                    <% end %>
                <% else %>
                    <td> Everyone </td>
                <% end %> 
                <td> <%= link_to "View #{deck.title}", deck_path(deck) %> <br> </td>
            </tr>
        <% end %> 
    
    </table>