<%= current_user.name %> <br>
<%= link_to "Log Out", logout_path %> <br> 

<%= link_to "Make a new deck?", new_deck_path %> <br>
<%= link_to "View all public decks.", decks_path %> <br>
 
<br>

<h3> Your Decks </h3>
<% current_user.decks.each do |deck| %>
    <%= deck.title %> <br>
    <%= deck.description %> <br>
    Created by: <%= deck.player_name %> <br>

    <% if deck.shared = true %>
        This deck is public. <br>
    <% else %>
        This deck is private. <br>
    <% end %>

    <%= link_to "#{deck.title}", deck_path(deck) %> <br> 

<% end %>