Hello Admin: <%= current_user.name %> <br>
<%= link_to "Admin Page", admin_path(current_user) %>
<%= link_to "Log Out", logout_path %> <br>
<br>

<h2> List of Decks You've Created </h2>

<table style="width:100%">
  <tr>
    <td> <h4> Deck Title </h4> </td>
    <td> <h4> Deck Player </h4> </td>
    <td> <h4> Deck Users </h4> </td>
    <td> <h4> Deck Link </h4> </td>
    <td> <h4> Tournament Link </h4> </td>
  </tr>

    <% current_user.decks.each do |deck| %>
        <tr>
            <td> <%= deck.title %> </td>
            <td> <%= deck.player_name %> </td>
            <td> <%= deck.users.count %> </td>
            <td> <%= link_to "View #{deck.title}", deck_path(deck) %> <br> </td>
            <td> <%= link_to "View #{deck.tournament.event_name}", tournament_path(deck.tournament) %> 
                <br> </td>
        </tr>
    <% end %> 
  
</table>