<%= link_to "Home Page", root_path %> <%= link_to "Log Out", logout_path %> <br>
<h4> Welcome Admin: <%= current_user.name %> </h4> 

<%= link_to "View all public decks", decks_path %> <br>
<%= link_to "Make a new deck?", new_deck_path %> <br>