<% if current_user && current_user.admin == true %>
    <%= render 'admins/links' %>

    <br>

    <table style="width:100%">
    <tr>
        <td> <h4> Completion Status </h4> </td>
        <td> <h4> Tournament Name </h4> </td>
        <td> <h4> Tournament Date </h4> </td> 
        <td> <h4> Info </h4> </td>
        <td> <h4> Tournament Link </h4> </td>
    </tr>

        <td> <h4> Incompleted Tournaments </h4> </td>
        <% @tournaments.each do |t| %>
            <tr>
                <% if t.finished == false %>
                    <td> Needs Work </td>
                    <td> <%= t.event_name %> </td>
                    <td> <%= t.event_date %> </td>
                    <td> <%= t.info %> </td>
                    <td> <%= link_to "View Tournament", tournament_path(t) %> <br> </td>
                <% end %>
            </tr>
        <% end %> 

        <td> <h4> Completed Tournaments </h4> </td>
        <% @tournaments.each do |t| %>
            <tr>
                <% if t.finished == true %>
                    <td> Complete </td>
                    <td> <%= t.event_name %> </td>
                    <td> <%= t.event_date %> </td>
                    <td> <%= t.info %> </td>
                    <td> <%= link_to "View Tournament", tournament_path(t) %> <br> </td>
                <% end %>
            </tr>
        <% end %>
    
    </table>

<% else %>
    <%= link_to "Home Page", root_path %> <br>
    <%= render 'sessions/links' %>
    <%= link_to "View all public decks", decks_public_path %> <br>

    <%= form_tag tournaments_path, method: :get do %>
        <%= select_tag "sort", options_for_select(
            ["Most Recent", 
            "Least Recent"]), include_blank: true %>
        <%= submit_tag "Sort By" %>
    <% end %>

    <table style="width:100%">
    <tr>
        <td> <h4> Tournament Name </h4> </td>
        <td> <h4> Tournament Date </h4> </td> 
        <td> <h4> Info </h4> </td>
        <td> <h4> Tournament Link </h4> </td>
    </tr>

        <% @tournaments.each do |t| %>
            <tr>
                <td> <%= t.event_name %> </td>
                <td> <%= t.event_date %> </td>
                <td> <%= t.info %> </td>
                <td> <%= link_to "View Tournament", tournament_path(t) %> <br> </td>
            </tr>
        <% end %> 
    
    </table>

<% end %>


