<h1> Create a New Tournament </h1> <br>

<%= form_for @tournament do |f| %>

    <%= render 'form', f: f  %>

    <%= f.hidden_field :finished, :value => false %>
    
    <%= f.submit "Create Tournament" %> <%= link_to "Back", admin_path(current_user) %>
<% end %>