<% if current_user && current_user.admin == true %>
    <%= render 'admins/links' %>
    <%= link_to "View all tournaments", tournaments_path %> <br>

    <br>

    Tournament Name: <%= @tournament.event_name %> <br>
    Date: <%= @tournament.event_date %> <br>
    Info: <%= @tournament.info %> <br>

    <% if @tournament.finished == true %>
        This tournament has been fully recorded. <br>
    <% else %>
        This tournament is still being recorded. <br>
    <% end %>

    <%= link_to "Edit Tournament", edit_tournament_path(@tournament) %> <br>
    <br>

    <table style="width:100%">
    <tr>
        <td> <h4> Place </h4> </td>
        <td> <h4> Player Name </h4> </td> 
        <td> <h4> Deck Title </h4> </td>
        <td> <h4> Deck Link </h4> </td>
        <td> <h4> Privacy </h4> </td>
    </tr>

        <% @tournament.decks.each do |deck| %>
            <tr>
                <td> <%= deck.tournament_placement %> </td>
                <td> <%= deck.player_name %> </td>
                <td> <%= deck.title %> </td>
                <td> <%= link_to "View #{deck.title}", deck_path(deck) %> <br> </td>
                <% if deck.shared == true %>
                    <td> Public: <%= deck.users.count %> users </td>
                <% else %>
                    <td> Private: <%= deck.users.count %> users </td>
                <% end %>
            </tr>
        <% end %> 
    
    </table>

<% else %>
    <%= link_to "Home Page", root_path %> <br>
    <%= render 'sessions/links' %>
    <%= link_to "View all tournaments", tournaments_path %> <br>

    Tournament Name: <%= @tournament.event_name %> <br>
    Date: <%= @tournament.event_date %> <br>
    Info: <%= @tournament.info %> <br>
    <br>

    <table style="width:100%">
    <tr>
        <td> <h4> Place </h4> </td>
        <td> <h4> Player Name </h4> </td> 
        <td> <h4> Deck Title </h4> </td>
        <td> <h4> Deck Link </h4> </td>
    </tr>

        <% @tournament.decks.each do |deck| %>
            <tr>
                <td> <%= deck.tournament_placement %> </td>
                <td> <%= deck.player_name %> </td>
                <td> <%= deck.title %> </td>
                <td> <%= link_to "View #{deck.title}", deck_path(deck) %> <br> </td>
            </tr>
        <% end %> 
    
    </table>

<% end %>
