<% if current_user && current_user.admin == true %>
    <%= render 'admins/links' %>
<% else %>
    <%= render 'sessions/links' %>
<% end %>

<h1> Update deck </h1> <br>

<%= form_for @deck do |f| %> 

    <%= render 'form', f: f  %>
    
    <%= f.submit "Update Deck" %> <%= link_to "Back", deck_path(@deck) %>
<% end %>

<%= form_tag add_card_path do %>
    <%= hidden_field_tag 'deck_id', @deck.id %>
    <%= submit_tag "Add Card" %>
<% end %>
<%= form_tag remove_card_path do %>
    <%= hidden_field_tag 'deck_id', @deck.id %>
    <%= submit_tag "Remove Card" %>
<% end %>