<%= link_to "Home Page", root_path %>

<% if current_user %>

    <% if current_user.admin == true %>
        Hello Admin: <%= current_user.name %> <br>
        <%= link_to "Admin Page", admin_path(current_user) %>
    <% elsif current_user.admin == false %>
        <%= link_to "Profile Page", user_path(current_user) %>
    <% end %>

    <%= link_to "Log Out", logout_path %> <br>
    
<% else %>
    <%= link_to "Sign Up", signup_path %>
    <%= link_to "Login", login_path %> <br>
<% end %>

<h2> List of Public Decks </h2>

<% @decks.each do |deck| %>
    <%= deck.title %> <br>
    <%= deck.description %> <br>
    Created by: <%= deck.player_name %> <br>
    Number of people that have saved this deck: <%= deck.users.count %> <br>

    <%= link_to "View Deck", deck_path(deck) %> <br> 
    tournament data for later <br>
    <br>
<% end %>