<% if current_user && current_user.admin == true %>
    <%= render 'admins/links' %> 
<% else %>
    <%= render 'sessions/links' %>
<% end %>

<h1> Make your new deck now! </h1> <br>

<%= form_for @deck do |f| %>

    <%= render 'form', f: f  %>

    <%= f.submit "Create Deck" %>
<% end %>

<%= form_tag add_card_path do %>
    <%= submit_tag "Add Card" %>
<% end %>
<%= form_tag remove_card_path do %>
    <%= submit_tag "Remove Card" %>
<% end %>