<h1> Make your new deck now! </h1> <br>

<% if @deck.errors.any? %>
        <div id="error_explanation">
        <h2>
            <%= pluralize(@deck.errors.count, "error") %>
            prohibited the deck from being created:
        </h2>
    
        <ul>
        <% @deck.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
        </div>
    <% end %>

<%= form_for @deck do |f| %>

    Title :<%= f.text_field :title %>
    <br>
    Description: <%= f.text_field :description %>
    <br>
    Click the box if you would like your deck to be public.
    <%= f.check_box :shared %>
    <br>
    <%= f.hidden_field :player_name, :value => current_user.name %>
    <%= f.hidden_field :tournament_id, :value => 1 %>

    <h2>Decklist:</h2>

    <h4> How to fill out: </h4>
    <h4> -Your deck must consist of 60 cards </h4>
    <h4> -Check the box if the card is a Basic Energy ONLY!  </h4>
    <h4> -If the card is NOT a Basic Energy you can only play 1-4 copies of that card, 
        otherwise you can play as many energy as you like. </h4>
    <h4> -Fill out how many copies of each card the deck has along with the name. </h4>
    <h4> -IMPORTANT, if you need more rows for cards, Click "Add Card", 
        if you know how many rows you need you can Click "Remove Card" to remove a row.
        Do this before filling out the list or else you will lose progress. 
        You may have extra rows. </h4>

    <%= f.fields_for :cards, @card do |cf| %>
        Basic Energy?: <%= cf.check_box :basic_energy %>
        Copies: <%= cf.number_field :count %>
        Name: <%= cf.text_field :name %>
        <br>
    <% end %>
    <br>
    <%= f.submit "Create Deck" %> <%= link_to "Back", user_path(current_user) %>
<% end %>


<%= form_tag add_card_path do %>
    <%= submit_tag "Add Card" %>
<% end %>
<%= form_tag remove_card_path do %>
    <%= submit_tag "Remove Card" %>
<% end %>