<% if current_user && current_user.admin == true %>
    <%= render 'admins/links' %>
<% else %>
    <%= link_to "Home Page", root_path %> <br>
    <%= render 'sessions/links' %>
    <%= link_to "View all tournaments", tournaments_path %> <br>
<% end %>



<h2> List of Public Decks </h2>

<%= form_tag decks_public_path, method: :get do %>
    <%= select_tag "sort", options_for_select(
        ["Number of Users", 
        "Newest Created", 
        "Oldest Created"]), include_blank: true %>
    <%= submit_tag "Sort By" %>
<% end %>

<%= form_tag decks_public_path, method: :get do %>
    Enter a deck name to search: <%= text_field_tag :search %>
    <%= submit_tag "Search" %>
<% end %>

<table style="width:100%">
  <tr>
    <td> <h4> Deck Title </h4> </td>
    <td> <h4> Deck Creator </h4> </td>
    <td> <h4> Deck Users </h4> </td>
    <td> <h4> Deck Link </h4> </td>
  </tr>

    <% @decks.each do |deck| %>
        <tr>
            <td> <%= deck.title %> </td>
            <td> <%= deck.player_name %> </td>
            <td> <%= deck.users.count %> </td>
            <td> <%= link_to "View #{deck.title}", user_deck_path(get_user_id(deck), deck) %> <br> </td>
        </tr>
    <% end %> 
  
</table>